<%= form_with model: @book do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'input is-rounded is-primary' %>
      <% @book.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :genre %><br>
      <%= form.text_field :genre, class: 'input is-rounded is-primary' %>
      <% @book.errors.full_messages_for(:genre).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'textarea', rows: '10' %>
      <% @book.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit class: 'MButton button is-success' %>
    </div>
  <% end %>